.bg-img {
    background-image: url('assets/bob.jpg');
    height: 480px;
    width: 800px;
    background-position:center; 
	background-repeat:no-repeat; 
	background-size:cover;
	
}
.right {
  width: 100px;
  height: 400px;
  transform: translate(-10%, 10%)
}
.left {
  width: 100px;
  height: 400px;
  transform: translate(10%, 10%)
}
