.bg-img {
    background-image: url('assets/background.jpg');
    height: 480px;
    width: 800px;
    background-position:center; 
	background-repeat:no-repeat; 
	background-size:cover;
	
}
.back {
  align-items: baseline;
  height:100px;
  width: 100px;
  transform: translate(300%, -350%) ;
 
}
.salmon{

width: 350px; 
height : 232px;
transform: translate(10%,50%);
border: 1px solid black;
}

.category1{
 
  background-color: azure;
    border: 3px solid black;
    padding: 0px;
    margin: 0px;
    /*transform: translate(0%,-280%);*/
    

}

.category2{
  width: 200px;
  height: 80px;
  background-color: azure;
  
    border: 3px solid black;
    padding: 0px;
    margin: 0px;
 /*   transform: translate(100%,-380%);*/
    
}

.category3{
  width: 200px;
  height: 80px;
  background-color: azure;
  
    border: 3px solid black;
    padding: 0px;
    margin: 0px;
   /* transform: translate(200%,-480%);*/
    
}

.category4{
  width: 200px;
  height: 80px;
  background-color: azure;
  
    border: 3px solid black;
    padding: 0px;
    margin: 0px;
  /*  transform: translate(323%,-580%);*/
}
.text{
font-size: 25px;
text-align: center;
transform: translate(-30%,10%);
}
.text2{
font-size: 25px;
text-align: center;
transform: translate(0%,10%);
}