<table class = "bg-img">
   
    <tr style="height: 15%;">
        <th class = "category1" [routerLink]="['']"> 
         <p  class = "text2">Promo</p>
        </th>
        <th class = "category2"  [routerLink]="['']">
            <p class = "text2"> Dishes </p>
        </th>
        <th class = "category3" [routerLink]="['']">
            <p class = "text2"> Beverage </p>
        </th>
        <th class = "category4" [routerLink]="['']">
            <p class = "text2"> Dessert</p>
        </th>
    </tr>
    <tr style="height: 50px;">
      <td colspan="4">
        
         
          <img src="assets/leftbutton.jpg" style="height:176px; width:56.5px; float: left" id = "leftarrow"/>
        
          <div style="width:85%; margin: 0 0 0 0; float: left; text-align: center">
            <table>
                <tr>
                  <td>
                    <div >
                    <img src="assets/salmon.jpg" style="height:232px; width:350px;padding-left :50px; "  id="displayImage"/>
                    </div >
                  </td>
                  <td style = " padding-left:30px;">
                        <p id = "itemNo" align = "left" >1</p>
                        <p id = "itemName" align = "left" >Salmu Sashimi</p>
                        <p id = "itemDescription" align = "left" >yummyy Sashimi</p>
                        <p id = "itemPrice" align = "left" >Price:9999</p>
                        <p id = "isAvailable" align = "left" >Have</p>
                  </td>
                </tr>
            </table>
          </div>
        
          
          <img src="assets/rightbutton.jpg" style="height:176px; width:56.5px; float: right" id = "rightarrow"/>
        </td>
    </tr>

    <tr style="width:85%; margin: 0 0 0 0; " >
        <td colspan="4">
            <div style="margin: auto; text-align:center">
            <input type="image"  src="assets/back.jpg"  align ="center" style = "height:50px; width: 400px; text-align: center;" [routerLink]="['']"/>
        </div></td>
        </tr>


  
    
   <!--   <div>
      <p id = "itemNo" align = "left" style =" transform: translate(65%, -420px); position: relative;">1</p>
      <p id = "itemName" align = "left" style =" transform: translate(65%, -420px); position: relative;">Salmu Sashimi</p>
      <p id = "itemPrice" align = "left" style =" transform: translate(65%, -420px); position: relative;">Price:9999</p>
      <p id = "isAvailable" align = "left" style =" transform: translate(65%, -420px); position: relative;">Have</p>
       </div>    
      
  
    <input type="image" src="assets/undo.png" class = "back"  [routerLink]="['']"/>-->
  
  
</table>
  