<p>
  bob works!
</p>
<body>
  <div>
    <div id="box">
      <div id="cssHead">
        <div class="cssEye leftEye">
          <div class="cssEyeLid">
            <div class="cssPupil">
            </div>
          </div>
        </div>
        <div class="cssEye rightEye">
          <div class="cssEyeLid">
            <div class="cssPupil">
            </div>
          </div>
        </div>
        <div id="Mouth" class="cssMouth">
        </div>

      </div>
      <div>
        <p class=good>good</p>
        <button class="bt">Toggle</button>
        <button class="bt"> Animate</button>
      </div>
    </div>
    </div>

</body>

<script>


</script>
