.div1 {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  background: rgb(255, 255, 255);
  margin: auto;
  transform: translate(0%, -80%);
}

/* .bg-img {
  background-image: url('assets/background.jpg');
  height: 480px;
  width: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.back {
  height: 60px;
  width: 60px;
  transform: translate(-50px, 400px)
}

.reserve {
  width: 400px;
  height: 50px;
  transform: translate(50%, 800%)
}

.amount {
  font-size: 40px;
  transform: translate(10%, 80%);
  font-weight: bold;
}

.people {
  font-size: 40px;
  transform: translate(-10%, -80%);
  font-weight: bold
}

.boxnum {
  display: table-cell;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: bold;
}

.pplButtonFont {
  font-size: 100px;
}

.pplButton {
  border: 2px solid #000000;
  background-color: #ffffff;
  text-align: center;
  border-radius: 25px;
}

.pplButton2 {
  text-align: center;
}
