<div class = "bg-img" id="timeMeDaddy">
  <!--  <input type="image" src="assets/reservetable.jpg" class="reserve" [routerLink]="['/result']" />
  <input type="image" src="assets/back.png" align="right" class="back" [routerLink]="['']" />
    <p class="amount" align= "left">Amount</p>
    <p class="people" align = "right">People</p> -->
    <!--<div class="div1" style="display: table;height: 200px;width: 200px;text-align: center;"> -->
      <span id="trigger1" class="boxnum">Number</span>
    <!--</div> -->
</div>

