<div class = "bg-img" >
    <input type="image" src="assets/reservetable.jpg" [routerLink]="['/result']" style="width:400px;height:50px;transform: translate(50%, 800%)"/>
    <p style="font-size:40px; transform: translate(10%,80%); font-weight: bold" align = "left">Amount</p>
    <p style="font-size:40px; transform: translate(-10%,-80%); font-weight: bold" align = "right">People</p>
    <div class="div1" style="display: table;height: 200px;width: 200px;text-align: center;">
      <span id="trigger1" style="display: table-cell;vertical-align: middle;">Dick Holder</span>
    </div>
</div>
