<table class = "bg-img">
   
    <tr style="height: 15%;">
        <th class = "category1" [routerLink]="['/menu1']"> 
         <p  class = "text2">Promo</p>
        </th>
        <th class = "category2"  [routerLink]="['/menu2']">
            <p class = "text2"> Dishes </p>
        </th>
        <th class = "category3" [routerLink]="['/menu3']">
            <p class = "text2"> Beverage </p>
        </th>
        <th class = "category4" [routerLink]="['/menu4']">
            <p class = "text2"> Dessert</p>
        </th>
    </tr>
    <tr style="height: 50px;">
      <td colspan="4">
        
         
          <img src="assets/leftbutton.jpg" class="left" id = "leftarrow"/>
        
          <div style="width:85%; margin: 0 0 0 0; float: left; text-align: center">
            <table>
                <tr>
                  <td>
                    <div >
                    <img src="assets/menu/dess1.jpg" class="menu"  id="displayImage"/>
                    </div >
                  </td>
                  <td class="menu">
                        <p id = "itemNo" align = "left" >Num: 1</p>
                        <p id = "itemName" align = "left" >Name: MONTBLANC</p>
                        <p id = "itemDescription" align = "left" >Description: Good life</p>
                        <p id = "itemPrice" align = "left" >Price: 20 Baht</p>
                        <p id = "isAvailable" align = "left" >Status: Have</p>
                  </td>
                </tr>
            </table>
          </div>
        
          
          <img src="assets/rightbutton.jpg" class="right" id = "rightarrow"/>
        </td>
    </tr>

    <tr style="width:85%; margin: 0 0 0 0; " >
        <td colspan="4">
            <div style="margin: auto; text-align:center">
            <input type="image"  src="assets/back.jpg"  align ="center" class="back" [routerLink]="['']"/>
        </div></td>
        </tr>


  
    
   <!--   <div>
      <p id = "itemNo" align = "left" style =" transform: translate(65%, -420px); position: relative;">1</p>
      <p id = "itemName" align = "left" style =" transform: translate(65%, -420px); position: relative;">Salmu Sashimi</p>
      <p id = "itemPrice" align = "left" style =" transform: translate(65%, -420px); position: relative;">Price:9999</p>
      <p id = "isAvailable" align = "left" style =" transform: translate(65%, -420px); position: relative;">Have</p>
       </div>    
      
  
    <input type="image" src="assets/undo.png" class = "back"  [routerLink]="['']"/>-->
  
  
</table>
  