.bg-img {
    background-image: url('assets/background.jpg');
    height: 480px;
    width: 800px;
    background-position:center; 
	background-repeat:no-repeat; 
	background-size:cover;
	
}
.back {
  width: 400px;
  height: 50px;
  transform: translate(50%, 240%)
}
.salmon{

transform: translate(15%,10%)
}
