<table style="height: 100%; width:100%; table-layout: fixed;">

  <!-- category bar -->
  <tr style="height: 15%;">
    <th class="categoryTab textTab" (click)="setCategory(1);">
      Promo
      <!-- <p class="text2"></p> -->
    </th>
    <th class="categoryTab textTab" (click)="setCategory(1);">
      Dishes
      <!-- <p class="text2">  </p> -->
    </th>
    <th class="categoryTab textTab" (click)="setCategory(3);">
      Beverage
      <!-- <p class="text2">  </p> -->
    </th>
    <th class="categoryTab textTab" (click)="setCategory(2);">
      Dessert
      <!-- <p class="text2"> </p> -->
    </th>
  </tr>

  <!-- Menu Stuff -->
  <tr style="height: 70%;">
    <td colspan="4">

      <img src="assets/leftbutton.jpg" class="left" id="leftarrow" (click)="prevItem();" />

      <div style="width:85%; margin: 0 0 0 0; float: left; text-align: center">
        <table>
          <tr>
            <td>
              <img src="assets/menu/food1.jpeg" class="menu" id="displayImage" />
            </td>
            <td class="text">
              <p id="itemNo" align="left">Num: 1</p>
              <p id="itemName" align="left">Name: Salad</p>
              <p id="itemDescription" align="left">Description: Good salad</p>
              <p id="itemPrice" align="left">Price: 20</p>
              <p id="isAvailable" align="left">Status: Have</p>
            </td>
          </tr>
        </table>
      </div>


      <img src="assets/rightbutton.jpg" class="right" id="rightarrow" (click)="nextItem();" />
    </td>
  </tr>


  <!-- Back button -->
  <tr style="height:15%; margin: 0 0 0 0; ">
    <td colspan="4">
      <div style="margin: auto; text-align:center">
        <input type="image" src="assets/back.jpg" align="center" class="back" [routerLink]="['']" />
      </div>
    </td>
  </tr>
</table>
