.back {
  height: 50px;
  width: 400px;
  text-align: center;
}

.left {
  height: 176px;
  width: 56.5px;
  float: left;
  /* transform: translate(0, 40%); */
}

.right {
  height: 176px;
  width: 56.5px;
  float: right;
  /* transform: translate(0, 40%); */
}

.salmon {
  width: 350px;
  height: 232px;
  transform: translate(10%, 50%);
  border: 1px solid black;
}

.categoryTab {
  background-color: azure;
  border: 3px solid black;
  /* padding: 0px; */
  /* margin: 0px; */
  /*transform: translate(0%,-280%);*/
}

.text {
  padding-left: 30px;
  text-indent: 10%;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.textTab {
  font-size: 25px;
  text-align: center;
  /* transform: translate(0%, 10%); */
}

.menu {
  height: 232px;
  width: 350px;
  padding-left: 50px;
  padding-top: 20px;
}
