<div class = "bg-img">
  <input type="image" src="assets/salmon.jpg" class="salmon" id = "image"/>
  <input type="image" src="assets/leftbutton.jpg" style="height:352px; width:113px; transform: translate(0%, 40px)" align ="left" id = "leftarrow"/>
  <input type="image" src="assets/rightbutton.jpg" style="height:352px; width:113px; transform: translate(0%, 40px)" align = "right" id = "rightarrow"/>

  <div>
    <p id = "itemNo" align = "right" style =" transform: translate(-20%, -150px)">1</p>
    <p id = "itemName" align = "right" style =" transform: translate(-9%, -150px)">Salmu Sashimi</p>
    <p id = "itemPrice" align = "right" style =" transform: translate(-12%, -150px)">Price:9999</p>
    <p id = "isAvailable" align = "right" style =" transform: translate(-30%, -150px)">Have</p>

  </div>
    
  <input type="image"  src="assets/back.jpg" class = "back" align ="center" [routerLink]="['']"/>

</div>
